* {
    margin: 0px;
    padding: 0px;
}
#big_button{
    height: 100px;
    width: 300px;
    border-style: ridge;
    border-width: 1px;
}
#big_button1{
    height: 120px;
    width: 300px;
    border-style: ridge;
    border-width: 1px;
}
#big_text{
    height: 200px;
    width: 300px;
    border-style: ridge;
    border-width: 1px;
}
#big_button:hover{
    background-color: azure;
}
span.title{
    font-size:18px;
    color: #000;
    height:25px;
    line-height:25px;
    font-weight:700;
}
span.more{
    position:relative;
    left:1000px;
}
div.detail1{
    width: 430px;
    height: 100px;
    background: #111;
    position: relative;
    margin-bottom: 5px;
}
div.detail{
    width: 197px;
    height: 65px;
    background: #111;
    position: relative;
    margin-bottom: 5px;
}
span.num1{
    display: inline-block;
    background: #3F7FCE;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 7px;
}
span.num{
    display: inline-block;
    background: #3F7FCE;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 7px;
}

span.pingfen{
    display: inline-block;
    color: darkorange;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 7px;
}
span.mess1{
    position: absolute;
    padding-left: 21px;
    padding-top:10px;
    color: #fff;
}
span.mess{
    position: absolute;
    padding-left: 21px;
    padding-top:10px;
    color: #fff;
}
span.name1{
    display: block;
    padding-top: 7px;
    font-size: 20px;
    width: 220px;
    color: #fff;
}
span.name{
    display: block;
    padding-top: 7px;
    font-size: 10px;
    width: 220px;
    color: #fff;
}
h3.title{
    font-size:18px;
    color: #000;
    height:25px;
    line-height:25px;
    font-weight:700;
}
h2.shoptitle{
    position:relative;
    right:500px;
}

#banner {
    width: 1140px;
    height: 444px;
    position: relative; /*相对定位,相对于.btn按钮*/
    text-align: left;
}
.pic image {
    display: block; /*默认有图片不显示*/
    position: absolute; /*绝对定位.对应的是.pic这个div*/
    top: 0px;
    left: 0px;
}
.pic a {
    display: none;
}
.pic { /*专门显现图片区*/
    position: relative; /*相对定位.对应.pic img*/
}
.btn_pic {
    width: 150px;
    height: 18px;
    position: absolute; /*绝对定位相对于banner div*/
    bottom: 5px;
    right: 5px;
}
    .btn_pic ul li {
        background-color: #000000; /*黑色*/
        color: #ffffff;
        list-style-type: none;
        width: 18px;
        height: 18px;
        float: left;
        border-radius: 9px; /*变成圆的*/
        text-align: center;
        line-height: 18px;
        cursor: pointer; /*鼠标移动变手指状态*/
        margin-left: 5px;
    }

        .btn_pic ul li.one {
            background-color: #ff9966;
        }

.pic_btn{

}

.jumbotron{
    margin-bottom: 0;
    background: url("../images/蓝色渐变.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/*-- footer --*/
.footer{
	/*background: url(../images/footer-bg.png) repeat-x 0px 0px #ecebdf;*/
	padding: 1em 0 2em;
}
.footer-grid ul{
	margin:0;
	padding:0;
}
.footer-grid h3{
	color: #4f4844;
	font-size: 1.2em;
	margin: 0;
	padding: 0 0 1.2em 0;
}
.footer-grid ul li{
	display:block;
}
.footer-grid ul li a{
	color: #2828FF;
	line-height: 1.7em;
	margin: 0.4em 0;
	display:block;
	font-family: 'Lora', serif;
	font-size: 1em;
	text-decoration:none;
}
.footer-grid ul li a:hover{
	color:#8b4613;
}

.tejia p{
    color: 	#FF0000
}

.tejia h5{
    font-size: 1.2em
}
.num{
    color: #666;
    font-size: 1.2em
}

.perinfor label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.liPart{
  float:left;
  width: 150px;
  position: relative;
  margin-left: 20px
}

ul{
    list-style-type:none
}

.suoyin_biaodan{
    margin-left: -30px;
}

.suoyin_biaoti{
    margin-top: 7px;
}

.goumaianniu button{

}

.jiage{
    color: #FF0000;
}

.xingxingright{
    color: darkorange;
}
.xingxingfail{
    color: white;
}

.fakeimg {
background: #aaa;
}

.thumbnail {
    display: block;
    padding: 8px 0px 8px 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.zhangjie{
    height: 35px;
    color: #999;
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: bolder;
    padding: 0 20px;
    line-height: 35px;
    cursor: default;
    background: #fafafa;
    margin: 0 -5px 0 -5px;
}

.keshi{
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-out;
    margin: 0 -5px 0 -5px;
}

.zhangjietimu{
    padding-left: 6px;
}

.keshihao{
    width: 62px;
    color: #999;
    text-align: left;
    font-size: 14px;
}

.keshitimu{
    width: 450px;
    padding-left: 6px;
    color: #333;
    height: 36px;
}

.breadcrumb{
    font-size: 20px;
}

