.redPlaceholder::-webkit-input-placeholder {
  color: #B91A33;
}
.redPlaceholder:-moz-placeholder {/* Firefox 18- */
  color: #B91A33;
}
.redPlaceholder::-moz-placeholder{/* Firefox 19+ */
 color: #B91A33;
}
.redPlaceholder:-ms-input-placeholder {
  color: #B91A33;
}
.contentBackground {
    width:900px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left:30px;
    padding-top:30px;
    margin-left:15px;
}
.sideNavbar {
    width: 230px;
    font-size:21px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top:20px;
    padding-left: 20px;
}
.sideNavbar a:link,
.sideNavbar a:link,
.sideNavbar a:visited,
.sideNavbar a:active {
    color: #534F4E;
}

.sideNavbar a:hover{
    color: #BBBBBB;
}

.sideNavbar .selected a{
    color: #B91A33;
    pointer-events: none;
}

.sideNavbar li{
    margin-top:10px;
    margin-bottom: 10px;
}

#breadCrumb a:link,
#breadCrumb a:visited,
#breadCrumb a:hover,
#breadCrumb a:active {
    color: #8B8181;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #8B8181;
    content: ">>";
}

.custom-checkbox .custom-control-input:focus ~.custom-control-label::before{
    box-shadow: none;
    border-color: #ADB5BD;
}
.custom-checkbox .custom-control-input:checked ~.custom-control-label::before{
    background-color: #B91A33;
    border-color: #B91A33;
    box-shadow: none;
}
.custom-checkbox .custom-control-input:active ~.custom-control-label::before {
    background-color: #B91A33;
    opacity: 0.5;
}
.shoppingCartGoods {
    margin-top:15px;
    padding: 10px 0 10px 0;
    background-color: #FFFFFF;
}
.shoppingCartGoodsImg {
    margin-left: -10px;
    width: 100px;
}
.shoppingCartGoodsName {
    margin-left: 10px;
    width: 150px;
}

.shoppingCartGoods .shoppingCartGoodsName a:link,
.shoppingCartGoods .shoppingCartGoodsName a:visited{
    color: #554F4F;
}
.shoppingCartGoods .shoppingCartGoodsName a:hover {
    color: #007BFF;
}

.shoppingCartGoodsPrice {
    margin-left: 10px; width:120px
}
.shoppingCartGoodsSemester{
    width: 100px
}
.shoppingCartGoodsStudent {
    width: 100px;
}
.shoppingCartGoodsTotalPrice {
    margin-left: 10px;
    width: 120px;
}
.shoppingCartGoodsOperating {
    width: 40px;
}

.shoppingCartGoodsOperating a:hover,
.shoppingCartGoodsOperating a:visited {
    color: #B91A33;
}

.shoppingCartChoiceChecked {
    border-radius: 0;
    width:100px;
    background-color: #B91A33;
    color: #F5F5F5;
}
.shoppingCartChoiceChecked:hover {
    background-color: #B91A33;
    color: #F5F5F5;
}

.shoppingCartChoiceUnchecked {
    border-radius: 0;
    width:100px;
    background-color: #E5E5E5;
    color: #736F6E;
}
.shoppingCartChoiceUnchecked:hover {
    background-color: #D5D5D5;
}

.shoppingCartPageChecked {
  background-color: #B91A33;
    border-radius: 10px;
    width: 49px;
    height: 49px;
    color: #F5F5F5;
}

.shoppingCartPageUnchecked {
    background-color: #FFFFFF;
    border: solid 1px #E7E7E7;
    border-radius: 10px;
    width: 49px;
    height: 49px;
    color: #8B8181;
}

.shoppingCartPageUnchecked:hover{
    color: #8B8181;
    background-color: #E7E7E7;
}

.shoppingCartPageChecked:hover{
    color: #F5F5F5;
    background-color: #B91A33;
}

.noneShadow :focus{
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: 1920px) {
    body{
        width: 1920px;
    }
}