<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授业者后台</title>
	<script src="js/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/box.css" type="text/css" rel="stylesheet"/>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
      $(function (){
          $("header").load("common1.html #witowit_header");
          $("footer").load("common1.html #witowit_footer");
      })
	</script>
</head>
<body>
<header></header>
<div class="container" style="width: 1370px !important;">
	<div class="row">
		<div class="col-md-2">
			<ul >
			<li><h3>我的任务</h3></li>
			<li><a href="taskDone.html">已完成</a></li>
			<li><a href="taskUndone.html">未完成</a></li>
		  </ul>
		  <hr>
          <ul>
			<li><h3>店面管理</h3></li>
			<li><a href="publishGoods.html">发布商品</a></li>
			<li><a href="productList.html">商品列表</a></li>
		  	<li><a href="storeDecoration.html">店面装修</a></li>
		  </ul>
		  	<hr>
			<ul >
			<li><h3>其他</h3></li>
            <li><a href="perinforSeting.html">账户设置</a></li>
			<li><a href="stuMana.html">学习者管理</a></li>
			<li><a href="myAddress.html">常用授业地址</a></li>
		  </ul>
		  <hr>
		</div>
        <div class="col-md-10">
			<!--
            <br>
            <div class="col-md-2 perinfor text-center">
                <div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="shouyezhe_name">授业者姓名</label>
							<input id="shouyezhe_name" class="form-control" placeholder="输入姓名">
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="shouyezhe_sex">性别</label>
							<select id="shouyezhe_sex" class="form-control">
								<option>男</option>
								<option>女</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="shouyezhe_age">年龄</label>
							<input id="shouyezhe_age" class="form-control" placeholder="输入年龄">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="zhanghao">账号</label>
							<input id="zhanghao" class="form-control" placeholder="输入账号">
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="mima">密码</label>
							<input id="mima" class="form-control" placeholder="输入密码">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="yinghangka">银行卡号</label>
							<input id="yinghangka" class="form-control" placeholder="输入银行卡号">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="shouji">手机号</label>
							<input id="shouji" class="form-control" placeholder="输入手机号">
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="youxiang">邮箱</label>
							<input id="youxiang" class="form-control" placeholder="输入邮箱">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="shanchanglingyu">擅长领域</label>
							<select id="shanchanglingyu" class="form-control" multiple="multiple">
								<option>足球</option>
								<option>篮球</option>
								<option>乒乓球</option>
								<option>羽毛球</option>
								<option>橄榄球</option>
							</select>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-md-inset-3">
                        <button type="button" class="btn btn-default">完成</button>
                    </div>
                </div>
            </div>
        </div>
			-->
			<br>
		  		<form class="form-horizontal" action="#" name="publishGoods"
                    id="publishGoods"  @submit.prevent="checkForm">
                <div class="form-group">
                  <label  class="col-md-2 control-label" style="margin-left: -50px">
                    <span style="color: red"> * </span>上传头像
                  </label>
                  <div class="col-md-2">
                    <a href="#" class="thumbnail">
                      <img src="images/github.jpg" alt="头像" >
                    </a>
                  </div>
                </div>

        <!--        商品名称-->
                <div class="form-group">
                  <label for="nicknameInput" class="col-md-2 control-label" style="margin-left: -50px">
                    <span style="color: red"> * </span>授业者昵称
                  </label>
                  <div class="col-md-5" id="nickname">
                    <input type="text" class="form-control" id="nicknameInput"
                           aria-describedby="nicknameDescription" placeholder="请输入昵称"
                           v-model="inputNickname" v-bind:class="{invalidOutline : !isValid}">
                      <!--
                    <small id="nicknameDescription" class="form-text text-muted" style="color: red"
                           v-if="!isValid">
                      &ensp;&ensp;昵称长度为3-25字符,仅能由数字、字母、汉字和下划线组成，首位不能是下划线和数字
                    </small>
                    -->
                  </div>
                </div>

        <!--        授业者性别-->
                <div class="form-group">
                  <label for="male" class="col-md-2 control-label" style="margin-left: -50px">
                    <span style="color: red"> * </span>授业者性别
                  </label>
                  <div class="col-md-5">
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="male" value="male" checked>男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="female" value="female">女
                    </label>
                  </div>
                </div>

        <!--        商品价格-->
                <div class="form-group">
                  <label for="trueName" class="col-md-2 control-label" style="margin-left: -50px">
                      <span style="color: red"> * </span>授业者年龄
                  </label>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="trueName"
                         placeholder="请输入年龄">
                  </div>
                </div>

        <!--        银行卡号-->
                <div class="form-group">
                  <label for="trueName" class="col-md-2 control-label" style="margin-left: -50px">
                      <span style="color: red"> * </span>银行卡号
                  </label>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="trueName"
                         placeholder="请输入银行卡号">
                  </div>
                </div>

        <!--        手机号-->
                <div class="form-group">
                  <label for="trueName" class="col-md-2 control-label" style="margin-left: -50px">
                      <span style="color: red"> * </span>手机号
                  </label>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="trueName"
                         placeholder="请输入手机号">
                  </div>
                </div>

        <!--        邮箱-->
                <div class="form-group">
                  <label for="trueName" class="col-md-2 control-label" style="margin-left: -50px">
                      <span style="color: red"> * </span>电子邮箱
                  </label>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="trueName"
                         placeholder="请输入邮箱地址">
                  </div>
                </div>

		<!--        擅长领域-->
                <div class="form-group">
                  <label for="trueName" class="col-md-2 control-label" style="margin-left: -50px">
                      <span style="color: red"> * </span>擅长领域
                  </label>
                  <div class="col-md-5">
						<select id="shanchanglingyu" class="form-control" multiple="multiple">
							<option>足球</option>
							<option>篮球</option>
							<option>乒乓球</option>
							<option>羽毛球</option>
							<option>橄榄球</option>
						</select>
                  </div>
                </div>

                <hr/>
        <!--        保存按钮-->
                <div class="form-group">
                  <div class="col-xs-3 col-xl-3 control-label">
                    <button type="submit" class="btn btn-danger">保存</button>
                  </div>
                </div>
              </form>
	</div>
</div>
<hr>
</div>
<footer></footer>
</body>
</html>